.card-body {
    font-family: "Selawik", sans-serif;
    background: #007057;
    color: white;
    border-radius: 5px;
}

.location-wrapper {
    color: white;
}

.location-edit-wrapper {
    color: white;
    margin-bottom: 10px;
}

#formCity.form-control {
    margin-bottom: 20px;
}

#formVenue.form-control {
    margin-bottom: 20px;
}

#formGooglePlusCode.form-control {
    margin-bottom: 20px;
}

.custom-card-group {
    width: 100%;
    height 400px;
}

.location-card-img {
    height: 150px;
    object-fit: cover;
}
