.location-header {
    color: white;
    text-align: center;
}

#floatingCity.form-control {
    margin-bottom: 10px;
}

#floatingVenue.form-control {
    margin-bottom: 10px;
}

#floatingGooglePlusCode.form-control {
    margin-bottom: 20px;
}
