@font-face {
    font-family: "Selawik";
    src: url("../public/selawksb.ttf") format("truetype");
}

body, :root {
  margin: 5px;
  padding: 5px;
}

.header-logo {
    cursor: pointer;
    height: 50px;
    padding: 10px 0 10px 24px;
}

.header-nav-link {
    color: #333;
    text-decoration: none;
    margin-right: 15px;
    text-align: right;
    display: block;
}

.header-nav-link:hover {
    color: #007057;
}

